<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8" />
<title>Update Court</title>
</head>
<body>
	<form th:action="@{/update-court}" th:object="${court}" method="post">
		<fieldset>
			<legend>Update Court</legend>
			<input type="hidden" th:field="*{courtId}" th:value="${court.courtId}" /> 
				Nº: 
				<span th:text="${court.courtId}"></span>
			<p>
				Active: 
				<input type="checkbox" th:field="*{active}" th:checked="${court.active}" />
			</p>
			<p>
				<input type="submit" />
			</p>
		</fieldset>
	</form>
</body>
</html>